html {
  background-color: #00ffff;
  color: #293133;
  font-family: 'ISOCPEUR Regular';
}

h1 {
  margin: 10px;
  padding: 20px 0;
  color: #414a4c;
}

video {
    border: 20px solid #ffcc00;
    border-radius:  20px;
    video-radius: 20px;
    transform: scale(-1, 1)
}

.head {
    border: 10px solid #ffcc00;
    border-radius:  20px;
    background-color: #ffcc00;
    background-radius: 10px;
    margin: 20px;
}

.avatar {
   position: relative;
}

.avatar img {
    position: absolute;
    margin: 0 right;
    margin-top: -95px;
    right: 20px;
}

button {
    padding: 40px 70px;
    color: #333;
    background-color: #e0ffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    border: 1px solid #666;
}

.card {
    border: 10px solid #ffcc00;
    border-radius:  20px;
    background-color: #fcdd76;
    background-radius: 10px;
    margin: 20px;
}