<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="sidebar">
        <img src="{{ url_for('static', filename='images/main_picture.png') }}" height="150">
        <a href="/">Выйти</a>
    </div>
    <div class="head">
        <h1>Урок {{lesson_num}}</h1>
        <a href="/user/{{username}}" class="avatar">
            <img src="{{ url_for('static', filename='images/ava.png') }}" height="80">
        </a>
    </div>
    <div class="card">
        <video height="300" autoplay id="video-player"></video>
        <script>
            if(navigator.webkitGetUserMedia!=null) {
                 var options = {
                     video:true,
                 };

                 navigator.webkitGetUserMedia(options,
                     function(stream) {
                        var video = document.getElementById('video-player');
                        video.srcObject = stream;
                     },
                     function(e) {
                          console.log("произошла ошибка");
                     }
                 );
            }
        </script>
        <form class="answer_form" method="post">
            <a href="/lesson/{{lesson_num}}/{{task_num}}/{{username}}"><button class="skip">Перейти к заданию</button></a>
        </form>
    </div>
</body>
</html>