<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Right answer</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">
    <style>
        html {
            background-color: #00ff00;
            color: #293133;
            font-family: 'ISOCPEUR Regular';
        }

    </style>
</head>
<body>
    <h1>ПРАВИЛЬНЫЙ ОТВЕТ</h1>
    <a href="/lesson/{{lesson_num}}/{{task_num + 1}}" id=test><button type="button" class="first">Далее</button></a>
</body>
</html>