<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson {{lesson_num}}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="sidebar">
        <a href="/">На главную</a>
    </div>
    <div class="head">
        <h1>Урок {{lesson_num}}</h1>
        <p class="avatar">
            <img src="{{ url_for('static', filename='images/ava.png') }}" height="80">
        </p>
    </div>
    <div class="card">
        <div class="card_image"><img src="{{ url_for('static', filename=task_image) }}" height="300"></div>
        <form class="answer_form" method="post">
            <input type="button" class="first" value={{button_1}} />
            <input type="button" class="second" value={{button_2}} />
            <input type="button" class="third" value={{button_3}} />
            <input type="button" class="fourth" value={{button_4}} />
        </form>
    </div>
</body>
</html>