<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson {{lesson_num}}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="head">
        <h1>Урок {{lesson_num}}</h1>
        <p class="avatar">
            <img src="{{ url_for('static', filename='images/ava.png') }}" height="80">
        </p>
    </div>
    <div class="card">
        <div class="card__image"><img src={{task_image}}></div>
        <button type="button">{{correct_answer}}</button>
        <button type="button">Б</button>
        <button type="button">В</button>
        <button type="button">Г</button>
    </div>
</body>
</html>