<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="sidebar">
        <img src="{{ url_for('static', filename='images/main_picture.png') }}" height="150">
        <a href="/enter">Вход</a>
        <a href="/reg">Регистрация</a>
    </div>
    <div class="head">
        <h1>SignLang - учите язык жестов с удовольствием!</h1>
    </div>
    <div class="main">
        <p>Текст</p>
    </div>
</body>
</html>